.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #e0f1ed;
    line-height: 1.5;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    -moz-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
}

.navigation__title {
    max-width: 200px;
    max-height: 150px;
    list-style-type: none;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    background-color: #bfebe2;
    color: #b70505;
    justify-content: center;
    align-self: center;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    -moz-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
}

.navigation__list {
    display: inline-block;
    list-style-type: none;
    background-color: #bfebe2;
    justify-content: flex-start;
    flex-shrink: 2;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    -moz-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
}

.navigation__item {
    list-style-type: disc;
    padding: 5px;
    margin: 0 0 0 36px;
}

.aside {
    max-width: 300px;
    display: inline-block;
    background-color: #bfebe2;
    align-self: center;
    padding: 15px;
    line-height: 50px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    -moz-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
}

.link {
    color: #b70505;
    background-color: #9ae1d3;
    padding: 5px 10px;
}

link:visited {
    background-color: brown;
}

.link:hover {
    background-color: #5de2c8;
    color: black;
    border-bottom: 1px solid;
    outline: none;
}

.link:active {
    background-color: #8480c8;
}