html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d6d6d6;
    font-family: 'Lato', sans-serif;
}

.dark {
    background-color: #cd8f8f;
    color: rgb(75, 10, 239);
}

.button {
    display: inline-block;
}

.main {
    line-height: 1.5;
    text-align: center;
}

.section {
    line-height: 1.5;
}

.article {
    background-color: #bfebe2;
    line-height: 1.5;
    padding: 30px;
    margin: 30px;
    border-color: antiquewhite;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    -moz-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
}

.name {
    background-color: #f5f5e7;
    color: #b70505;
}

.surname {
    color: #ff0000e0;
}

.footer {
    background-color: #f5f5e7;
    line-height: 1.5;
    text-align: center;
    padding: 15px 30px 15px 30px;
    margin: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    -moz-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
}

.data {
    display: inline-block;
    background-color: #bfebe2;
    padding: 15px;
    margin: 0 25px 25px 25px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    -moz-box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
    box-shadow: 1px 0px 57px -4px rgba(36, 113, 103, 1);
}